/* 컨텐츠,패딩,보더 = 합친 크기로 만들어줌 */
* {
    box-sizing : border-box;
}

/* 공백 없애기 */
body {
    margin : 0;
    padding : 0;
}

div {
    border: 1px solid black;
}

/* 기본 세팅 끝 */
/* ********************************************** */

/* 가로로 되게끔 만들어준 첫 컨테이너 */
.container {
    display : flex;
    height : 1000px;
}

/* 왼쪽 박스의 공간할당 */
.container div:first-child {
    flex-basis : 20%
}

/* 만약 3개 이상의 공간이면 nth */
.container div:last-child {
    flex-basis : 80%
}

.right {
    display : flex;
    flex-direction: column;
}

/* 그 다음 공간할당 10 10 80 */
.right div:nth-child(1), 
.right div:nth-child(2) {
    flex-basis: 10%;
}

.right :div:nth-child(3) {
    flex-basis: 80%;
}

/* 오렌지를 콘텐츠로 묶어줬음 (나중에 수정) */
.content {
    display : flex;
    background-color: orange;
}

.content > div:nth-child(1), 
.content > div:nth-child(2) {
    flex-basis : 50%;
}

.blue {
    display : flex;
    flex-direction: column;
}

.blue div:nth-child(1) {
    flex-basis: 40%;
    background-color: blue;
}

.blue div:nth-child(2) {
    flex-basis: 60%;
    background-color: green;
}

/* 틀만 잡고 왼쪽가기 */

/* wrap은  */
.red {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    margin: 30px;
}

.red div:nth-child(1),
.red div:nth-child(2),
.red div:nth-child(3),
.red div:nth-child(4) {
    background-color: yellow;
    flex-basis : 50%;
    scale: 0.8;
}