/* 가로 인라인 줄 먹이기 */
.area1 { background-color: red;}
.area2 { background-color: orange;}
.area3 { background-color: yellow;}
.area4 { background-color: green;}
.area5 { background-color: blue;}




/* 요소 형식을 block 으로 변경 */
.block {
    border :1px solid black;
    width : 150px;
    height : 150px;
    color : white;

    display: block;
} 



/* 요소 형식을 inline 으로 변경 */
.inline {
    display: inline;
}

/* 요소 형식을  inline-block 으로 변경 */
/* 블럭의 형식을 갖고 있되, 수평 정렬 */

.inline-block {
    display: inline-block;
}

/* none */
/* 5번 블럭 사라짐 확인 */
.none {
    display: none;
}

/* 감싸는 영역 요소 */
/* 찌부되어있으니까 넓이 높이 등등 주기 */

#container-1 {
    border: 1px solid black;
    width : 323px;
    height : 472px;
}

/* 내부에 영역을 분할할 요소 */
.div-1 {
    
    /* 고정 크기 단위
    -> 감싸는 영역의 크기가 변하면 다시 계산(힘듬)
    width: 300px;
    height: 200px;
    } 

    /* 가변 크기 단위
    -> 감싸는 영역의 크기에 비례해서 다시 계산
    */

    width: 100%; /* 323px X 100% / 100 = 323px */
    height: 50%; /* 472px X 50% / 100 = 236px */
}




#container-1 > .div-1:first-of-type {
    background-color: red;
    height: 30%;
}

#container-1 > .div-1:last-of-type {
    background-color: blue;
    height: 70%;
}



/*    - 감싸는 영역(부모) 요소 id : <container-2>
         - 화면 분할 요소 class : div-2
         - 분할 비율 -> 20 : 30 : 50
         - 배경 색 자유롭게 */

         
#container-2 {
    border: 3px solid black;
    width: 300px;
    height: 440px;
}

#container-2 > .div-2:first-of-type(1) {
    background-color: greenyellow;
    height : 20%;
}

#container-2 > .div-2:nth-of-type(2) {
    background-color: yellow;
    height : 30%;
}

#container-2 > .div-2:nth-of-type(3) {
    background-color: skyblue;
    height : 50%;
}

/* 좌우 2분할 */
#container-3 {
    border: 5px solid red;
    width: 400px;
    height: 200px;
}

.div-3 {
    width: 50%;
    height: 100%;

    display: inline-block;
}

#container-3 > .div-3:first-child {
    background-color: pink;
}

#container-3 > .div-3:last-child {
    background-color: steelblue;
}

/* display:none / visibility : hidden; */

.div-4 {
    border: 3px solid black;
    height: 100px;
}

#test4 {
    background-color: deeppink;

    /* 투명변환 */
    /* visibility: hidden; */

    /* 요소 존재, 화면에 보이지 않음 영역차지 X */
    /* display: none; */
}